.container{
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 120px;
    border: none;
    padding: 16px;
    background-color: crimson;
    color: white;
    cursor: pointer;    
    border-radius: 5px;
}